p{
	text-align: center;
}
h3{
	text-align: center;
}
h1{
	text-align: center;
}
h2{
	text-align: center;
}

.Name{
    color:orange;
}
.ots{
    color:#FFFFFF;
}
.Name1{
    color:orange;
    text-decoration: blink;
}